<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

    <application>
        <meta-data
            android:name="moe.shizuku.client.V3_SUPPORT"
            android:value="true" />
        <!-- Shizuku servers deliver their binder here. -->
        <provider
            android:name="eu.darken.porter.sdk.PorterShizukuApiProvider"
            android:authorities="${applicationId}.shizuku"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>
</manifest>
