name: Code tests & eval

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-all:
    name: Assemble all variants
    strategy:
      fail-fast: false
      matrix:
        flavor: [ Foss,Gplay ]
        variant: [ Debug ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build (Flavor ${{ matrix.flavor }}, Variant ${{ matrix.variant }})
        run: ./gradlew assemble${{ matrix.flavor }}${{ matrix.variant }}

  test-all:
    name: Run all tests
    strategy:
      fail-fast: false
      matrix:
        variant: [ Debug,Release ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests (Variant ${{ matrix.variant }})
        run: ./gradlew test${{ matrix.variant }}